<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcc0PBZQocdRrM8DyPM2GfsE0jYLR9axI</string>
	<key>GCM_SENDER_ID</key>
	<string>480973526919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ludovicrocher.doggo</string>
	<key>PROJECT_ID</key>
	<string>doggo-20c9b</string>
	<key>STORAGE_BUCKET</key>
	<string>doggo-20c9b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480973526919:ios:f34f3b1a15ac3412eb6522</string>
</dict>
</plist>